@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<div class="card shadow-sm">
    <div class="card-body">
        <form method="post" asp-controller="Users" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-4">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" />
                            <label asp-for="Password"></label>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" />
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="indicator-label">
                    Save
                </span>
                <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}